<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /e2e/

  RewriteRule ^index\.html$ - [L]

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /e2e/index.html [L]
</IfModule>
